<hr>
<div class="row" ng-controller="FeatureController as featureCtrl">

  <button class="btn btn-default" ng-click="featureFormController.showForm = !featureFormController.showForm">{{ featureFormController.showForm ? "Cancel" : "Add Feature" }}</button>
  <feature-form ng-show="featureFormController.showForm" features="featureCtrl.features"></feature-form>
  <hr>
  <table class='table table-striped'>
    <thead>
      <th>Feature</th>
      <th>Area</th>
      <th>Category</th>
      <th>Impact</th>
      <th>Effort</th>
      <th>Quadrant</th>
    </thead>
    <tbody>
      <tr ng-repeat="feature in data.features">
        <td>{{ feature.feature }}</td>
        <td>{{ feature.area }}</td>
        <td>{{ feature.category }}</td>
        <td>{{ feature.impact }}/10</td>
        <td>{{ feature.effort }}/10</td>
        <td>{{ feature.quadrant }}</td>
      </tr>
    </tbody>
  </table>
</div>
