<hr>
<form name="featureForm" class="form-inline" ng-submit="featureFormController.addFeature(featureForm)">
  <div class="form-group">
    <label for="feature-name">Add Feature</label>
    <input type="text" class="form-control" id="feature-name" placeholder="Feature" ng-model="featureFormController.feature.feature">
  </div>
  <div class="form-group">
    <label class="sr-only" for="feature-area">Area</label>
    <input type="text" class="form-control" id="feature-area" placeholder="Area" ng-model="featureFormController.feature.area">
  </div>
  <div class="form-group">
    <label class="sr-only" for="feature-category">Category</label>
    <input type="text" class="form-control" id="feature-category" placeholder="Category" ng-model="featureFormController.feature.category">
  </div>
  <div class="form-group">
    <label class="sr-only" for="feature-impact">Impact</label>
    <input type="number" min="0" max="10" class="form-control narrow" id="feature-impact" placeholder="Impact" ng-model="featureFormController.feature.impact">
  </div>
  <div class="form-group">
    <label class="sr-only" for="feature-effort">Effort</label>
    <input type="number" min="0" max="10" class="form-control narrow" id="feature-effort" placeholder="Effort" ng-model="featureFormController.feature.effort">
  </div>
  <button type="submit" class="btn btn-default">Save</button>
</form>

