  <h2>{{ subtitle }} </h2>

  <blockquote>
    <p>For makers who need an effective tool to help document an discuss the scope of an application, product or project, ScopeHero allows users to compile and rate features in terms of impact and effort.</p>
  </blockquote>

  <p>ScopeHero converts a popular analog/whiteboarding tool called the <strong><a href="http://gamestorming.com/games-for-decision-making/impact-effort-matrix-2/">Impact &amp; Effort Matrix</a></strong> into a web application where a project manager or product owner can create an application, document its features, rate the impact and effort of each feature on a scale of 1 to 10, and receive feedback on which features fall into which quadrants. When visualized, the Impact &amp; Effort Matrix is plotted on an x-y axis and contains four quadrants:</p>

  <img src="../img/matrix.svg" alt="The Impact/Effort Matrix is plotted on an x-y axis. Use it to rate features/tasks by impact and effort to guide discussions about scope.">
